.button {
    background-color: hsl(225, 0%, 95%);
    border: 1px solid;
    border-color: hsl(225, 0%, 75%);
    border-radius: 2px;
    color: hsl(225, 0%, 18%);
    cursor: pointer;
    font-size: 1.25rem;
    margin: 0.5rem 0;
    outline: none;
    padding: 1rem;

    &.submit {
        background-color: hsl(225, 60%, 50%);
        border-color: hsl(225, 60%, 43%);
        color: white;
        transition: 0.15s;

        &:hover {
            background-color: hsl(225, 60%, 45%);
            border-color: hsl(225, 60%, 40%);
        }
    }
}
