.form-selector-option {
    padding: 1rem;
    transition: 0.1s;

    &:not(:last-child) {
        border-bottom: 1px solid hsla(220, 0%, 20%, 0.1);
        &.selected {
            border-bottom: 1px solid hsla(220, 0%, 92%, 0.6);
        }
    }

    &:hover {
        background-color: hsl(220, 0%, 94%);
    }

    &.selected {
        background-color: hsl(220, 75%, 45%);
        color: white;
    }
}
