.logger {
    background-color: hsl(212, 20%, 25%);
    border-radius: 4px 0px 0px 4px;
    bottom: 1rem;
    box-shadow: 0px 0px 10px 0px hsla(210, 15%, 15%, 0.7);
    box-sizing: border-box;
    color: hsl(212, 60%, 97%);
    cursor: pointer;
    overflow-y: scroll;
    padding: 1.25rem;
    position: absolute;
    right: 0;
    top: 1rem;
    transition: 400ms right;
    width: 400px;
    z-index: 1;
}

.logger.hidden {
    right: -380px;
}

.logger pre {
    margin: 0;
}
