.custom-radio-button {
    border: 2px solid black;
    cursor: pointer;
    margin-right: 10px;
    height: 14px;
    width: 14px;
    transform: rotate(-45deg);
}

.custom-radio-button.checked {
    background-color: hsl(120, 75%, 40%);
}
