.custom-input {
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 14px;
    outline: none;
    padding: 10px 12px;
    width: 100%;
    transition: border-color 200ms;
}

.custom-input:focus {
    border-bottom: 1px solid black;
}
